html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
*, *:before, *:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Roboto Mono', serif;
	font-size: 1em; /* default */
	color: #393939;
	background: #e7dfd8;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Rubik', cursive;
	text-transform: uppercase;
	margin: 0.4em 0;
}
h1 { font-size: 3.3em; font-weight:700; }
h2 { font-size: 3.0em; font-weight:700; }
h3 { font-size: 2.5em; font-weight:700; }
h4 { font-size: 2.0em; font-weight:700; }
h5 { font-size: 1.2em; font-weight:700; }
h6 { font-size: 1.0em; font-weight:400; }
header, main, footer {
	width: calc(100% - 10%);
	max-width: 1100px;
	margin: 4% auto;
	border: 3px solid #363332;
	box-shadow: #423F3E 5px 5px, #827B79 10px 10px, #C2B8B4 15px 15px;
	animation: simplefade 1s ease-in-out;
}
.flexdis { display: flex; }
.fb-30 { flex: 0 1 30%; }
.fb-33 { flex: 0 1 33.33%; }
.fb-40 { flex: 0 1 40%; }
.fb-66 { flex: 0 1 66.67%; }
.fb-70 { flex: 0 1 70%; }
.dispadd [class*=fb] { padding: 3% 2%; } 

.circle {
  position: relative;
}
.circle p:hover:after{
	content: attr(data-title);
	position: absolute;
	top:60%; 
	left:45%;
	white-space: nowrap;
	background: rgba(0, 0, 0, 0.4);
	padding: 3px 7px;
	color: #FFF;
	font-size: 0.6em;
	border-radius: 3px;
	z-index: 1;
}
.intro figure, .circle p {
	position: relative; 
	height: auto;
}
.intro figure img {
	width: 100%;
	/*display: none;*/
	max-width:  800px;
	z-index: 1;
	margin: 10% auto 0 auto;
	border-radius: 100%;
}
.intro h1, .intro h5{
	margin: 0 0 1.5% 0;
}
.highlight {
	text-decoration: none;
	color: #EF5372;
	position: relative;
}
	.highlight:after{
		background: rgba(239,83,114,0.25);
		content: "";
		position: absolute;
		left: 12px;
    bottom: -3px;
		width: calc(100% - 10px);
    height: calc(100% - 10px);
    z-index: -1;
    transition: 0.35s cubic-bezier(0.5, 0.1, 0, 2.25);
	}
	.highlight:hover:after {
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 100%;
  }

.bck-info, .projects, .links {	border-top: 2px solid #363332;  }
.parallax {
	background-image:;
	background-attachment: fixed;
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: contain;
}
.parallax, .links a:nth-child(2), .projects div:nth-child(2){
	border-left: 2px solid #363332;
	border-right: 2px solid #363332;
}
.bck-info div:first-child ul{
	margin-left: 0;
}
.bck-info div:first-child li{
	margin-bottom: 1em;
	list-style: none;
}
.bck-info div:last-child dd{
	text-indent: 1em;
	margin-bottom: 1em;
}
.links a {
	margin: 0;
	color: #393939;
	padding: 1% 2.1%;
	font-size: 1em;
	text-decoration: none;
}
.links a:hover {
  background: #EF5372;
	color: #fff;
}
.projects h5 a{
	text-decoration: none;
	color: #393939;
	padding: ;
}
.projects h5 a:hover {
	border-bottom: 3px dotted #EF5372;
}
.projects h6 {
	position: relative;
} 
.projects h6:hover:after{
	content: "Accidentally 'Push' this...";
	padding: 5px;
	font-size: 0.75em;
	position: absolute;
	top: -5px;
	left: 20%;
	background: rgba(239,83,114,1);
	transform: rotateZ(-3deg);
}
.links a i{
	transition: transform 500ms;
	will-change: transform;
}
.links a > i {
	font-size: 1.2em;
}
.links a:hover i{
	transform: translateY(7px);
}
@keyframes simplefade  {
	0% { opacity:0 }
	100% { opacity: 1 }
}

@media screen and (max-width: 55em) {
	h1,h2,h3 {
  	font-size: 5vw; 
  }
  h4,h5,h6 {
  	font-size: 2.5vw; 
  }
}

@media screen and (max-width: 45em) {
	h1,h2,h3 {
  	font-size: 5.5vw; 
  }
  h4,h5,h6 {
  	font-size: 3.0vw; 
  }
  .flexdis {
  	flex-wrap: wrap;
  }
  .bck-info [class*=fb], .projects [class*=fb]  {
  	flex: 0 1 100%; 
  }
  .projects div:nth-child(2) {
  	border: none;
  }
}
@media screen and (max-width: 30em) {
  h4,h5,h6 {
  	font-size: 3.5vw; 
  }
  [class*=fb] {
  	flex: 0 1 100%; 
  }
  .parallax {
  	display: none;
  }
  .parallax, .links a:nth-child(2) {
  	border: none;
  }
  .links a {
  	padding: 4%;
  	text-align: center;
  }
}
